.Listado-page {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
      "sidebar header"
      "sidebar main";
    height: 100vh;
    width: 100vw;}

  /* Contenido a la derecha del sidebar */
.main-content {
  grid-area: main;
  padding: 2rem;
  background-color: #f9f9f9;
  overflow-y: auto;
}


.form-wrapper {
    margin: 3rem auto;
    background: white;
    padding: 2rem 2.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    width: 100%;
    max-width: 1000px;  /* Aumenta el ancho máximo del formulario */
  }
  

